body {
  background: rgb(16, 5, 31);
  background: linear-gradient(
    90deg,
    rgba(16, 5, 31, 1) 0%,
    rgba(56, 27, 115, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}

.navbar {
  background-color: #080808c9;
  height: 100px;
}
:root {
  --white: #ffffff;
  --violeta: #2d135f;
  --azulOscuro: #10051f;
  --border-color: rgba(0, 0, 0, 0.1);
  --border-width: 1px;
  --border-radius: 30px;
}

.login-box {
  width: 600px;
  height: 100px;
  color: #fff;
  top: 50%;
  left: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 35px;
  font-size: 30px;
}
.login-box button {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--violeta);
  border: none;
  outline: none;
  height: 55px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box button[type="button"]:hover {
  cursor: pointer;
  background: rgb(16, 5, 31);
  background: linear-gradient(
    90deg,
    rgba(16, 5, 31, 1) 0%,
    rgba(56, 27, 115, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  color: rgb(255, 254, 254);
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgb(16, 5, 31);
  background: linear-gradient(
    90deg,
    rgba(16, 5, 31, 45%) 0%,
    rgba(56, 27, 115, 35%) 35%,
    rgba(0, 0, 0, 90%) 100%
  );
}

#hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
  font-family: "object-fit: cover";
}

#hero .caption {
  position: relative;
  z-index: 20;
  text-align: center;
  color: #ffffff;
}

#hero .caption h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0.5rem;
}

#hero .caption h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}
.line-glow {
  margin-left: -100px;
}


/* Card-3  Contiene el video de fondo de la imagen Apple*/
.card-3 video {
  position: relative;
  left: 18%;
  width: 64%;
  height: 78%;
  z-index: 1;
}
.tv-apple {
  position: relative;
  margin-top: -50%;
  width: 100%;
  z-index: 2;
}
/* image-Descarga Contiene la imagen de miracle */
.image-descarga {
  width: 100%;
}
/* Box De planes */
.boxPricing {
  font-family: "Raleway", Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  width: 100%;
  max-width: 1000px;
}
.boxPricing .plan {
  width: 100%;
  position: relative;
  float: left;
  background-color: var(--violeta);
  border: 4px solid rgba(103, 102, 102, 0.463);
  margin: 10px;
  border-radius: 10px;
}
.boxPricing.plan:hover,
.boxPricing .plan.hover {
  background-color: var(--azulOscuro);
}
.boxPricing .plan:hover i,
.boxPricing .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.boxPricing * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.boxPricing header {
  position: relative;
  padding: 20px 10px;
}

.boxPricing .plan-title {
  top: 0;
  font-weight: 800;
  margin: 10px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.boxPricing .plan-cost {
  margin: 0;
  opacity: 0.2;
}
.boxPricing .plan-price {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 800;
  font-size: 1.3em;
}
.boxPricing .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
.boxPricing .plan-features {
  padding: 0;
  margin: 0 0 40px;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
  text-align: left;
}
.boxPricing .plan-features li {
  padding: 5px 5%;
  font-weight: 500;
  opacity: 0.5;
  border-left: 5px solid rgb(245, 245, 245);
  margin: 2px 2px;
  margin-left: 5px;
}
.boxPricing .plan-select {
  background: rgb(16, 5, 31);
  background: linear-gradient(
    90deg,
    rgba(16, 5, 31, 1) 0%,
    rgba(56, 27, 115, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  text-align: center;
}
/* BOTON PLAN!!!!! */
.boxPricing .plan-select a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 30px;
  font-size: 0.75em;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgb(3, 0, 0);
}
/* CAMBIA EL HOVER DEL BOTON PLAN!!!!!! */
.boxPricing .plan-select a:hover {
  background: white;
  color: #5078e5;
}

.boxPricing .featured {
  margin-top: -10px;
  background: linear-gradient(
    90deg,
    rgba(16, 5, 31, 1) 0%,
    rgba(56, 27, 115, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.boxPricing .featured .plan-select a {
  margin: 30px 20px;
}

.image-glow2 {
  width: 100%;
}


@media (max-width: 600px) {
  .footer_redes {
    font-size: 1.5em;
  }

  .footer_redes a:hover {
    box-shadow: none;
  }
}
/* Media Queriz */
@media (max-width: 1024px) {
  #hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: "object-fit: cover";
  }

  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }
  .line-glow {
    margin-left: -265px;
  }
  .boxPricing .plan {
    position: relative;
    background-color: var(--violeta);
    border: 5px solid var(--azulOscuro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: auto;
  }

  .tv-apple {
    width: 100%;
  }
  .caption {
    position: absolute;
    bottom: 100px;
  }
  .login-box {
    width: 300px;
    height: 100px;
    color: #fff;
    top: 40%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 35px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 960px) {
  #hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: "object-fit: cover";
  }

  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }
  .line-glow {
    margin-left: -265px;
  }
  .boxPricing .plan {
    position: relative;
    background-color: var(--violeta);
    border: 5px solid var(--azulOscuro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: auto;
  }

  .tv-apple {
    margin-top: 30px;
    width: 100%;
  }
  .caption {
    position: absolute;
    bottom: 100px;
  }
  .login-box {
    width: 300px;
    height: 100px;
    color: #fff;
    top: 40%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 35px;
    font-size: 30px;
  }
  .row-apple {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  .card-3 video {
    position: relative;
    top: 375px;
    left: 1%;
    width: 64%;
    height: 79%;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .boxPricing .plan {
    width: 100%;
  }
  .boxPricing .plan-title,
  .boxPricing .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .boxPricing .plan-select a,
  .boxPricing .featured .plan-select a {
    margin: 20px;
  }
  .boxPricing .featured {
    margin-top: 0;
  }

  #hero video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: "object-fit: cover";
  }

  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }
  .card-3 video {
    position: relative;
    top: 360px;
    left: 1%;
    width: 64%;
    height: 79%;
    z-index: 1;
  }
}

@media only screen and (max-width: 420px) {
  #hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: "object-fit: cover";
  }

  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }
  .line-glow {
    margin-left: -470px;
  }
  .boxPricing .plan {
    width: 100%;
    position: relative;
    float: left;
    background-color: var(--violeta);
    border: 5px solid var(--azulOscuro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: 0px;
  }

  .tv-apple {
    width: 100%;
  }
  .caption {
    position: absolute;
    bottom: 100px;
  }
  .login-box {
    width: 300px;
    height: 100px;
    color: #fff;
    top: 40%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 35px;
    font-size: 30px;
  }
  .section-2 {
    margin-top: 100px;
  }
  .row-apple {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  .card-3 video {
    position: relative;
    top: 205px;
    left: 1%;
    width: 64%;
    height: 79%;
    z-index: 1;
  }
}
@media only screen and (max-width: 393px) {
  #hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: "object-fit: cover";
  }

  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }
  .line-glow {
    margin-left: -470px;
  }
  .boxPricing .plan {
    width: 100%;
    position: relative;
    float: left;
    background-color: var(--violeta);
    border: 5px solid var(--azulOscuro);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: 0px;
  }

  .tv-apple {
    width: 100%;
  }
  .caption {
    position: absolute;
    bottom: 100px;
  }
  .login-box {
    width: 300px;
    height: 100px;
    color: #fff;
    top: 40%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 35px;
    font-size: 30px;
  }
  .section-2 {
    margin-top: 100px;
  }
  .row-apple {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }
  .card-3 video {
    position: relative;
    top: 190px;
    left: 1%;
    width: 64%;
    height: 79%;
    z-index: 1;
  }
}
@media only screen and (max-width: 360px) {
  #hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: "object-fit: cover";
  }

  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }

  .caption {
    position: absolute;
    bottom: 100px;
  }
  .login-box {
    width: 300px;
    height: 100px;
    color: #fff;
    top: 40%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 35px;
    font-size: 30px;
  }
  .card-3 video {
    position: relative;
    top: 184px;
    left: 1%;
    width: 64%;
    height: 79%;
    z-index: 1;
  }
}
/*footer style*/

.footer_lean {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5em;

  }
  .img-logo {
    width: 40px;
    height: 40px;
    margin-left: 50px;
  }
  .footer_derechos{
    font-size: 20px;
    color:aliceblue;
  }
  .footer_redes {
    font-size: 2.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
  .footer_redes a {
    text-decoration: none;
    border-radius: 50%;
    width: 2em;
    transition: 0.2s;
  }
  .footer_redes a:hover {
    box-shadow: 0px 0px 15px 7px #a38ad6 ;
    color: #a38ad6;
    transition: 0.2s;
  }
  .icon:hover {
    text-shadow: 0px 0px 15px #a38ad6;
    color: #a38ad6;
    transition: 0.2s;
  }
  .icon:hover::before {
    transform: scale(1.2);
    transition: 0.2s;
  }
  
  .icon {
    border-radius: 50%;
    margin: auto;
  }
  .text-rolling {
    text-decoration: none;
    font-size:18px;
    margin-top: 9px;

}
  @media (max-width: 600px) {
    .footer_redes {
      font-size: 1.5em;
    }
  
    .footer_redes a:hover {
      box-shadow: none;
    }
}